*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  /* background-image: url("../public/473048.jpg"); */
  /* background-image: url("../public/473027.jpg"); */
  background-image: url("../public/347086.jpg");
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
}